.project {
  border-radius: 16px;
  padding: 1.8rem;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.04);
  transition: all 0.15s ease-out;
}
.project:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0px 2px 10px rgba(78, 205, 196, 0.025),
    0px 2px 20px rgba(78, 205, 196, 0.025),
    0px 2px 40px rgba(78, 205, 196, 0.025);
}

.project__name {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
.project__section {
  position: relative;
}
.project__section:not(:last-child) {
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
}
.project__section:not(:last-child)::before {
  content: '';
  position: absolute;
  width: calc(100% - 6px);
  height: 1px;
  left: 3px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
.project__sectionLabel {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
  color: var(--color-text-light-1);
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
}
.project__sectionLabelIcon {
  width: 1.2rem;
  margin-right: 6px;
}
.project__itemList {
  list-style: none;
}

.project__item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.project__item:not(:last-child) {
  margin-bottom: 1rem;
}

.project__itemIcon {
  color: var(--color-turquoise);
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1rem;
}
