:root {
  --color-dark-blue: #081620;

  --color-text-light: #c4c7c9;
  --color-text-light-1: #a6abaf;

  --color-light-blue: #c8dbe4;

  --color-turquoise: #4ecdc4;

  --color-coral: #ff6b6b;
}

html,
body {
  color: var(--color-text-light);
  background-color: var(--color-dark-blue);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
