.container {
  max-width: 1024px;
  margin: 0 auto;
}

.pinnedSection {
  position: relative;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}
.pinnedSection::before {
  content: '';
  position: absolute;
  height: 1px;
  width: calc(100% - 20px);
  background-color: rgba(255, 255, 255, 0.08);
  left: 10px;
  bottom: 0;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.8rem;
}

.projectGrid__label {
  font-size: 1.2rem;
  margin-top: 8rem;
  margin-left: 12px;
  margin-bottom: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text-light-1);
  display: flex;
  align-items: center;
}
.projectGrid__labelIcon {
  width: 1.2rem;
  margin-right: 1rem;
}
